streamlit>=1.45

numpy>=1.26
pandas>=2.2

scikit-learn>=1.5
scipy>=1.13

torch>=2.3
torchvision>=0.18

gensim>=4.3

transformers>=4.52
tokenizers>=0.21
sentencepiece>=0.2

tensorflow>=2.16

nltk>=3.9
joblib>=1.4

matplotlib>=3.9